.banner {
    position: relative
}

.banner .banner-slide {
    background-image: url("../images/taydau/bg-slide.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 60vh
}

.banner .banner-slide .swiper-wrapper {
    display: flex;
    align-items: center
}

.banner .banner-slide .swiper-slide {
    height: max-content;
    transition: 0.3 all ease;
    transform: scale(0.9);
    z-index: 1
}

.banner .banner-slide .swiper-slide .bg-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6
}

.banner .banner-slide .swiper-slide-active {
    transform: scale(1.2);
    z-index: 2
}

.banner .banner-slide .swiper-slide-active .bg-cover {
    opacity: 0 !important
}

.giai-doan-dua img:not(.active) {
    display: none
}

.dac-diem-dia-hinh img {
    height: 80px
}

.dac-diem-dia-hinh .dacdiem:not(.active) {
    display: none
}