.banner {
    background-image: url("../images/gioithieu/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%
}

.banner .bg-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 85, 13, 0.6);
    position: absolute;
    border-radius: 6px
}

.banner h1 {
    color: #000 !important
}

.banner h6 {
    line-height: 1.7rem
}

.banner h1,
.banner h6,
.banner button {
    position: relative
}

.content .wrap-content {
    background-image: url("../images/gioithieu/bg-content.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

.content .wrap-content .content-item {
    padding: 20px;
    border-radius: 8px;
    background-color: #77777723
}

.content .wrap-content .content-item .title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 8px solid #FF550D
}

.content .wrap-content .content-item .title .stt {
    font-family: "bevn-bold";
    font-size: 6rem;
    margin: 0;
    color: #FF550D
}

.content .wrap-content .content-item .title h2 {
    margin: 0;
    text-transform: uppercase
}

.content .wrap-content .content-item p {
    color: #000
}

.play-video {
    background-image: url("../images/gioithieu/bg-play-video.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.play-video .container {
    position: relative
}

.play-video .container .wrap-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.play-video .container .content h3 {
    color: #fff;
    text-transform: uppercase
}

.play-video .container .content p {
    color: #fff
}

.play-video .container .btn-play {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FF550D
}

.play-video .container .column-social {
    display: flex;
    flex-direction: column
}

.play-video .container .column-social a {
    color: #FF550D;
    font-size: 2rem
}